#landingOutput {
    border: 3px solid black; 
    width: 300px;
    height: 250px;
    padding: 10px;
    margin: 20px;
}

#weatherOutput {
    border: 3px solid black;
    width: 300px;
    height: 150px;
    padding: 10px;
    margin: 20px;
}

